services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: notifdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"   # mgmt UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    command: ["redis-server", "--save", "", "--appendonly", "no"]

  api:
    build: .
    container_name: notif-api
    command: npm run start:api
    env_file: .env
    ports:
      - "4000:4000"
    depends_on:
      - postgres
      - rabbitmq
      - redis
    volumes:
      - .:/app
      - /app/node_modules
    restart: unless-stopped

  worker:
    build: .
    container_name: notif-worker
    command: npm run start:worker
    env_file: .env
    depends_on:
      - rabbitmq
      - redis
      - postgres
    volumes:
      - .:/app
      - /app/node_modules
    restart: unless-stopped
    environment:
      - WORKER_ID=worker-1


  digest-worker:
    build: .
    container_name: notif-digest-worker
    command: npm run start:digest
    env_file: .env
    depends_on:
      - redis
      - rabbitmq
      - postgres
    volumes:
      - .:/app
      - /app/node_modules
    restart: unless-stopped

  dlq-worker:
    build: .
    container_name: notif-dlq-worker
    command: npm run start:dlq
    env_file: .env
    depends_on:
      - rabbitmq
      - postgres
    volumes:
      - .:/app
      - /app/node_modules
    restart: unless-stopped

volumes:
  postgres_data:
  rabbitmq_data:
